@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    /* If we add any padding or border onto an element it does not affect the width of the element */
    box-sizing: border-box; 
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;  /* so that scroll bars are not shown by default */
    margin: 0;
}